         .btn-grad {
           background-image: linear-gradient(to right, #ff00cc 0%, #333399 51%, #ff00cc 100%);
           margin-top: 3vw;
           margin-left: 3vw;
           text-align: center;
           text-transform: uppercase;
           transition: 0.5s;
           background-size: 45vw;
           color: white;
           display: block;
           border-radius: 0.6vw;
           height: 4vw;
           width: 11vw;
           text-decoration: none;
           padding: 1vw;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
           font-weight: bold;
           font-size: 1.4vw;
         }

         .btn-grad:hover {
           background-position: right center;
           color: #fff;
           text-decoration: none;
         }




         .title h2 {
           background: -webkit-linear-gradient(#fe5ce9, #b700ff);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           font-size: 4.8vw;
           font-family: adonis-web;
           font-weight: bold;
         }

         .title {
           margin-bottom: 2.5vw;
         }



         .text h2 {
           color: black;
           font-family: source sans pro;
           font-size: 1.5vw;
         }

         .subtitle h2 {
           background: -webkit-linear-gradient(#fe5ce9, #b700ff);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
           font-size: 2.4vw;
           font-family: adonis-web;
           font-weight: bold;
         }

         #page1 {
           display: flex;
           background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 249, 218) 400px, rgb(255, 255, 255) 800px);
           padding-top: 2vw;
           padding-left: 10vw;
           padding-bottom: 2vw;
         }

         #page11 {
           margin-top: 10vw;
           margin-right: 8vw;

         }


         #steak {
           width: 35vw;
           height: auto;
           border-radius: 1vw;

         }

         #page2 {
           background-image: url(cool-background.png);
           background-repeat: no-repeat;
           background-size: cover;
           padding-top: 10vw;
           padding-bottom: 10vw;
           padding-left: 6vw;
           padding-right: 6vw;

         }

         #box1 {
           background-color: #fefaf0a5;
           border-radius: 1.5vw;
           padding: 3vw;
         }

         #parts {
           display: flex;
         }

         .part {
           padding-top: 5vw;
           padding-bottom: 5vw;
           padding-left: 3vw;
           padding-right: 3vw;
         }

         .space {
           padding-top: 2vw;
         }

         #partss img {
           width: 26vw;
           height: 26vw;
           border-radius: 1vw;
           margin: 2vw;
           margin-left: 3vw;
         }

         #page3 {
           background-color: antiquewhite;
           padding: 5vw;
         }

         #box2 {
           background-color: #ffffff95;
           padding: 4vw;
           border-radius: 1vw;
         }
         #partss{
          display: flex;
         }
         .partt{
          align-items: center;
         }

         #page4{
          background-color: antiquewhite;
          padding: 5vw;
          padding-left: 11vw;
          align-items: center;
          align-self: center;
          background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 249, 218) 400px, rgb(255, 255, 255) 800px);
           
         }
         #page4 .text{
          margin-top: 3vw;
         }
         #map{
          padding-left: 20vw;
          background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 249, 218) 400px, rgb(255, 255, 255) 800px);
           
         }
         #page5 .title{
padding-left: 20vw;
margin-bottom: none;
background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 249, 218) 400px, rgb(255, 255, 255) 800px);
           
         }
         iframe{
          width: 50vw;
          height: 35vw;
          border-radius: 1vw;
          margin-top: none;
         }

         #page5{
          background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 249, 218) 400px, rgb(255, 255, 255) 800px);
         }
        


         
form {
  max-width: 40vw;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 1vw;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1vw;
  margin-top: 0.5px;
}



input[type="submit"] {
  height: 4vw;
   width: 11vw;
  padding: 1vw; 
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 40vw;
}

#page6 .btn-grad{
  background-size: 70vw;

}


       

       